---
// Third-party dependencies

// Current project dependencies
import BaseHead from "../components/Common/BaseHead.astro";
import ScrollTop from "../components/Buttons/ScrollTop";
import ThemeSwitcher from "../components/Buttons/ThemeSwitcher";
import cn from "../utils/cn";

type Props = {
  title?: string;
  description?: string;
  image?: string;
  containerClassnames?: string;
  bgImage?: string;
  position?: "left" | "right";
};

const {
  title = "",
  description = "",
  image = "",
  position = "left",
  bgImage = "",
} = Astro.props;
---

<html lang="es">
  <head>
    <BaseHead description={description} image={image} title={title} />
  </head>

  <body
    class="flex min-h-screen min-w-screen overflow-hidden text-black transition-colors duration-200 dark:text-white"
  >
    <main
      class:list={cn(
        "fixed top-0 flex h-screen w-1/2 items-center justify-center",
        position === "left" ? "left-0" : "right-0",
      )}
      transition:animate="fade"
    >
      <slot />
    </main>

    <div
      class="fixed right-4 bottom-4 z-[90] flex flex-col items-center justify-center gap-2"
    >
      <ScrollTop client:load />
      <ThemeSwitcher client:load />
    </div>

    <!-- Background overlays -->
    <div class="fixed inset-0 -z-10 bg-black/70"></div>

    <div
      class="background-moving fixed inset-0 -z-20 bg-gradient-to-br from-zinc-900 via-neutral-800 to-zinc-900"
    >
    </div>

    <div
      class="background-moving fixed inset-0 -z-20"
      style={`background-image: url('${bgImage}'); background-size: cover; background-position: center; filter: blur(10px);`}
    >
    </div>

    <div class="fixed inset-0 -z-10 bg-black/70"></div>
  </body>
</html>
